.rosterContainer,
.theTeamRoster,
.namesContainer,
.list-group,
.coachContainer,
.coachName {
	display: flex;
	justify-content: center;
	align-items: center;
}

.rosterHeader,
.list-group,
.coachName {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rosterContainer,
.theTeamRoster,
.coachName {
	flex-flow: column wrap;
}

.rosterContainer {
	height: 100vh;
	width: 100vw;
}

.rosterHeader {
	height: 6%;
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 35px;
	background-color: #dadada;
}

.theTeamRoster {
	height: 89%;
	width: 100%;
}

.namesContainer {
	width: 100%;
}

.list-group {
	width: 90%;
	height: 100%;
	flex-flow: row wrap;
	padding: 0;
	border-radius: 12px;
	overflow-y: scroll;
}

.name {
	width: 90%;
	border-radius: 5px;
	margin: 5px;
	text-align: center;
	font-size: 20px;
	border: 5px solid rgba(192, 192, 192, 0.4);
}

.coachContainer {
	height: 10%;
	width: 100%;
}

.coachName {
	height: 60%;
	width: 90%;
	padding: 0;
	margin-top: 8%;
	border-radius: 12px;
}

.coach {
	width: 90%;
	border-radius: 5px;
	margin: 5px;
	text-align: center;
	font-size: 20px;
	border: 5px solid rgba(16, 62, 239, 0.4);
}
