.toggleBullets {
    animation: pullRight 0.5s none;
}
@keyframes pullRight {
    0%   {left: -50vw;}
    100% {left: 0;}
}

.hamburgerBullets {
    animation: pullLeft 0.5s none;
}
@keyframes pullLeft {
    0%   {right: -50vw;}
    100% {right: -50%;}
}