/* .hero-body {
	padding: 10px;
}

.section {
	padding: 8px;
}

.profileNav {
	display: flex;
	justify-content: space-around;
} */
body {
	margin: 0;
}

* {
	box-sizing: border-box;
}
/*************Hamburger Menu***************/

.menuBtn {
	height: 33px;
	width: 40px;
	border: 2px solid #a3a3a3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.menuBtn span {
	height: 3px;
	width: 27px;
	margin: 2px;
	background-color: #a3a3a3;
}

.hamburgerBtn {
	position: relative;
}

.hamburgerBullets {
	width: 40vw;
	padding: 35px;
	position: absolute;
	z-index: 1;
	top: 40px;
	right: 0px;
	background-color: grey;
}

/**************Nav Bar***************/

.mainNavBar {
	height: 5vh;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	background-color: #1056ab;
}

.mainBtn {
	height: 100%;
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainBtnImg {
	height: 37px;
}

.mainTsLogo {
	height: 100%;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainNavTitle {
	color: white;
	font-size: 20px;
}

.burgerMenuContainer,
.burgerMenu {
	height: 100%;
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/***********Login***************/
.loginContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.loginLogoContent {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.loginTeamLogo {
	width: 98%;
}

.loginButtonContent {
	height: 50%;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.loginButtons {
	height: 14%;
	width: 40%;
	margin: 10px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1056ab;
	color: white;
	text-decoration: none;
}

.loginButtons:hover {
	background-color: #dadada;
	color: #000000;
}

.btnLog {
	font-size: 20px;
}

/********User Profile**********/
.profileContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.profile {
	width: 100%;
	margin: 0;
}

.profileTitleContent {
	height: 10%;
	position: relative;
	background-color: #dadada;
	/* border: solid 2px #000000; */
	border-radius: 5px;
}

.profileTitleHeader {
	position: absolute;
	left: 66px;
	top: 13px;
	font-size: 40px;
	font-weight: bold;
}

.profilePic {
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.athPic {
	margin: 0;
	height: 80%;
}

.profileInfo {
	height: 40%;
	display: flex;
	flex-flow: column wrap;
}

.profileName {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1056ab;
	border-radius: 2px;
}

.athleteName {
	font-size: 24px;
	color: white;
}

.profileBio {
	height: 30%;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
}

.bioTitleContainer {
	height: 30%;
	width: 100%;
	background-color: #dadada;
	/* border: solid 2px #000000; */
	border-radius: 5px;
	position: relative;
}

.profileBioTitle {
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	left: 5px;
}

.profileBioInfo {
	height: 70%;
	width: 100%;
}

.profileStats {
	height: 60%;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
}

.statsTitleContainer {
	height: 15%;
	width: 100%;
	background-color: #dadada;
	/* border: solid 2px #000000; */
	border-radius: 5px;
	position: relative;
}

.profileStatsTitle {
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	left: 5px;
}

.profileStatsInfo {
	height: 25%;
	width: 100%;
}

.profileFooter {
	height: 5%;
	position: relative;
}

.profileSubmit {
	position: absolute;
	padding: 7px;
	left: 153px;
	border-radius: 10px;
	top: 2px;
	background-color: #1056ab;
	color: white;
}

.profileSubmit:hover {
	background-color: #dadada;
	color: #000000;
}

/**********fork Nav************/
.forkContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.forkButtonContent {
	height: 95%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.forkButtons {
	height: 7%;
	width: 100%;
	margin: 22px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1056ab;
	color: white;
}

.forkButtons:hover {
	background-color: #dadada;
	color: #000000;
}

.btnFork {
	font-size: 20px;
}

/***********Create Team***********/

.createTeamContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.cTCodeGenerator {
	height: 95%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.createTeamName {
	height: 40%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.teamName {
	font-size: 50px;
	padding: 15px;
	background-color: #1056ab;
	color: white;
	border-radius: 5px;
}

.cGNumberContainer {
	height: 7%;
	width: 50%;
	border: 2px solid grey;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.cGbtnContent {
	height: 6%;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1056ab;
	color: white;
	border-radius: 10px;
	margin: 95px;
}

.cGDoneBtn {
	font-size: 20px;
}

.cGbtnContent:hover {
	color: #000000;
	background-color: #dadada;
}

/**********Join Team*************/

.joinTeamPage {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.navBackArrow {
	height: 5%;
}

.joinTeamContainer {
	height: 95%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.jTteamCode {
	height: 11%;
	width: 65%;
	border-radius: 5px;
	background-color: #1056ab;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px;
}

.teamCodeTitle {
	font-size: 40px;
}

.jTcodeNum {
	height: 5%;
	width: 37%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid grey;
	border-radius: 5px;
	margin: 60px;
}

.jTcodeBtn {
	height: 5%;
	width: 30%;
	background-color: #1056ab;
	color: white;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px;
}

.jTcodeBtn:hover {
	color: #000000;
	background-color: #dadada;
}

.codeBtn {
	font-size: 20px;
}

/******************************/
