body {
	margin: 0;
}

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
/*************Hamburger Menu***************/

.menuBtn {
	height: 33px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.menuBtn span {
	height: 3px;
	width: 27px;
	margin: 2px;
	background-color: #1171bb;
	transition-duration: 0.5s;
}

.menuTop {
	transform: rotate(225deg) translate(-8px, -5px);
}

.menuMiddle {
	transform: rotate(180deg);
	opacity: 0;
}

.menuButtom {
	transform: rotate(-225deg) translate(-5px, 2px);
}

.hamburgerBtn {
	position: relative;
}

.hamburgerBullets {
	/*width: 40vw;*/
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 2;
	/*top: 28px;*/
	right: -50%;
	background-color: #e5e8e8;
	border: 2px solid #dadada;
	border-radius: 15px 0 0 15px;
	list-style-type: none;
}

.hamburger-li {
	z-index: 3;
	text-align: center;
	border: 1px solid #dadada;
	height: 5vh;
	line-height: 5vh;
	font-size: 1.5em;
	width: 45vw;
}
.hamburger-li:first-child {
	border-radius: 15px 0 0 0;
}
.hamburger-li:last-child {
	border-radius: 0 0 0 15px;
}

.hamburger-li a {
	text-decoration: none;
	color: #1171bb;
	cursor: pointer;
}
.toggleCloseHamburgerDiv{
	position: absolute;
	width: 110vw;
	height:100vh;
	z-index: 1;
	left:-90vw;
	top:-1vh;
}

/***********Toggle Menu***************/
.toggleMenuBtn {
	height: 100%;
	width: 100%;
	position: relative;
}

.toggleBullets {
	z-index: 2;
	/*height: 13%;*/
	width: 45vw;
	padding: 0;
	position: absolute;
	/*top: 32px;*/
	/*left: 15px;*/
	margin: 0;
	background-color: #e5e8e8;
	border: 2px solid #dadada;
	color: #1171bb;
	border-radius: 0 15px 15px 0;
	list-style-type: none;
}

.toggle-li {
	z-index: 3;
	text-align: center;
	border: 1px solid #dadada;
	height: 7vh;
	line-height: 7vh;
	font-size: 1.5em;
}
.toggle-li:first-child {
	border-radius: 0 15px 0 0;
}
.toggle-li:last-child {
	border-radius: 0 0 15px 0;
}

.toggle-li:hover {
	cursor: pointer;
}
.toggleClosePulloutDiv{
	position: absolute;
	width: 110vw;
	height:100vh;
	z-index: 1;
	top:-1vh;
}

/**************Nav Bar***************/

.mainNavBar {
	height: 5vh;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	background-color: #ffd200;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainBtn {
	height: 100%;
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainBtnImg {
	height: 35px;
	padding-top: 4px;
}

.dropDownBtn {
	height: 100%;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainTsLogo {
	height: 100%;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainNavLogo {
	height: 65%;
}

.burgerMenuContainer,
.burgerMenu {
	height: 100%;
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/***********Drop Down Arrow**************/

.topLeftArrow {
	height: 50%;
	transform: rotate(120deg) translate(-1px, 7px);
	background-color: #1171bb;
	padding: 2px;
}

.topRightArrow {
	height: 50%;
	transform: rotate(-120deg) translate(1px, 7px);
	background-color: #1171bb;
	padding: 2px;
}

.bottomLeftArrow {
	height: 50%;
	transform: rotate(120deg) translate(11px, 10px);
	background-color: #1171bb;
	padding: 2px;
}

.bottomRightArrow {
	height: 50%;
	transform: rotate(-120deg) translate(-3px, -4px);
	background-color: #1171bb;
	padding: 2px;
}
/***********Login***************/
.loginContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.loginLogoContent {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding-top: 40%;
}

.loginTeamLogo {
	width: 45%;
}

.loginButtonContent {
	height: 50%;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	padding-bottom: 16%;
}

.loginButtons {
	height: 14%;
	width: 24%;
	margin: 10px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1171bb;
	color: white;
	text-decoration: none;
	font-size: 17px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginButtons:hover {
	background-color: #dadada;
	color: #000000;
}

/********User Profile**********/
.profileContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.profile {
	width: 100%;
	margin: 0;
}

.profileTitleContent {
	height: 10%;
	position: relative;
	background-color: #dadada;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileTitleHeader {
	position: absolute;
	font-size: 38px;
	font-weight: bold;
}

.profilePic {
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.athPic {
	margin: 0;
	height: 80%;
}

.profileInfo {
	height: 40%;
	display: flex;
	flex-flow: column wrap;
}

.profileName {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1171bb;
	border-radius: 2px;
}

.athleteName {
	font-size: 24px;
	color: white;
}

.profileBio {
	height: 30%;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
}

.bioTitleContainer {
	height: 30%;
	width: 100%;
	background-color: #dadada;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileBioTitle {
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	left: 5px;
	top: 3px;
}

.profileBioInfo {
	height: 70%;
	width: 100%;
	padding: 10px;
	font-size: 20px;
}

.profileStats {
	height: 60%;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	overflow: auto;
}

.statsTitleContainer {
	height: 15%;
	width: 100%;
	background-color: #dadada;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileStatsTitle {
	font-weight: bold;
	font-size: 22px;
	position: absolute;
	left: 5px;
	top: 3px;
}

.profileStatsInfo {
	height: 15%;
	width: 100%;
	padding: 10px;
	font-size: 20px;
}

.profileFooter {
	height: 5%;
	width: 100%;
	position: relative;
}

.profileEdit {
	position: absolute;
	padding: 12px;
	left: 50%;
	border-radius: 7px;
	bottom: 40%;
	background-color: #1171bb;
	color: white;
	transform: translate(-50%, 0);
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileEdit:hover {
	background-color: #dadada;
	color: #000000;
}

/**********fork Nav************/
.forkContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.forkButtonContent {
	height: 95%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.forkButtons {
	height: 7%;
	width: 80%;
	margin: 18px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1171bb;
	color: white;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forkButtons:hover {
	background-color: #dadada;
	color: #000000;
}

.btnFork {
	font-size: 20px;
}

/***********Create Team***********/

.createTeamContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.cTCodeGenerator {
	height: 95%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.createTeamName {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.teamName {
	font-size: 25px;
	text-align: center;
	padding: 15px;
	background-color: #1171bb;
	color: white;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.createTeamInfo {
	height: 30%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.createTeamInfo textarea {
	text-align: center;
	font-size: 15px;
}

.cGContent {
	height: 35%;
	width: 100%;
	flex-flow: column wrap;
	display: flex;
	align-items: center;
}

.cGNumberContainer {
	height: 15%;
	width: 40%;
	border: 2px solid grey;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cGbtnContent {
	height: 28%;
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cGbtnCode {
	height: 10%;
	width: 100%;
	background-color: #1171bb;
	color: white;
	border-radius: 7px;
	padding: 4%;
	font-size: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cGbtnLog {
	/* height: 55%; */
	height: 65%;
	width: 70%;
	background-color: #1171bb;
	color: white;
	border-radius: 7px;
	padding: 10%;
	font-size: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cGbtnCode:hover,
.cGbtnLog:hover {
	color: #000000;
	background-color: #dadada;
}

/**********Join Team*************/

.joinTeamPage {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.navBackArrow {
	height: 5%;
}

.joinTeamContainer {
	height: 95%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.jTteamCode {
	height: 9%;
	width: 62%;
	border-radius: 5px;
	background-color: #1171bb;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.teamCodeTitle {
	font-size: 40px;
	color: white;
}

.jTcodeNum {
	height: 30%;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	margin: 50px;
}

.codeNum {
	border: 2px solid grey;
	border-radius: 5px;
	text-align: center;
	margin: 15px;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jTcodeBtn {
	height: 17%;
	width: 38%;
	background-color: #1171bb;
	color: white;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jTcodeBtn:hover {
	color: #000000;
	background-color: #dadada;
}

.codeBtn {
	font-size: 20px;
}

/***********login_page***********/
.loginInfoContainer {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	margin: 0px;
}

.teamLogoImg {
	height: 40%;
	width: 100%;
	/* margin: 16px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.logoImg {
	height: 15%;
}

.loginForm {
	height: 55%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	/* margin-bottom: 154px; */
}

.userNameLine,
.passwordLine {
	font-size: 22px;
	padding: 8px;
	color: grey;
	width: 80vw;
	display: flex;
	justify-content: space-between;
}

.userNameLine input,
.passwordLine input {
	font-size: 16px;
	padding: 8px;
	background-color: rgba(205, 205, 218, 0.3);
}

.loginBtnContainer {
	height: 55%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginBtn {
	height: 20%;
	width: 100%;
	padding: 10px;
	border-radius: 7px;
	color: white;
	background-color: #1171bb;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginBtn:hover {
	color: #000000;
	background-color: #dadada;
}

/***********Create User ID and PW*************/
.createLogo {
	height: 38vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.createLogoImg {
	height: 15%;
}

.userSignUpContainer {
	height: 30vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	color: grey;
	font-size: 18px;
}

.userSignUpContainer > div {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.userSignUpContainer input {
	padding: 8px;
	font-size: 16px;
	text-align: left;
	background-color: rgba(205, 205, 218, 0.3);
}

.signUpInput {
	margin: 5px;
}

.signUpButton {
	height: 40px;
	width: 66px;
	border-radius: 7px;
	font-size: 15px;
	background-color: #1171bb;
	color: white;
	margin-top: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signUpButton:hover {
	color: #000000;
	background-color: #dadada;
}

/********Create & Edit Profile**********/
.createAth {
	height: 75vh;
	width: 100vw;
	display: flex;
	flex-flow: column wrap;
}

.createAthHeader {
	height: 9%;
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: #ffd200;
	border-radius: 7px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.createFieldsDepth {
	width: 90%;
	margin-left: 19px;
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.createAth label {
	font-size: 20px;
	margin-left: 18px;
	color: grey;
}

.createFields {
	margin: 8px;
	font-size: 15px;
}

.createAthleteBtn {
	height: 25vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.createAthleteBtnSub {
	height: 20%;
	width: 18%;
	border-radius: 7px;
	background-color: #1171bb;
	color: white;
	font-size: 14px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signUpButton:hover {
	color: #000000;
	background-color: #dadada;
}

.createJoinTeamButtons {
	text-align: center;
}

/********Edit Profile (ADD NEW INPUTS COMPONENT)************/

.customAthInputs {
	height: 5vh;
	width: 90vw;
	display: flex;
}

.statNameInput {
	width: 85%;
	color: grey;
	font-size: 20px;
}

.statValueInput {
	width: 65%;
	font-size: 15px;
}

.addStatsButton {
	border-radius: 7px;
	background-color: #1171bb;
	color: white;
	font-weight: bold;
	font-size: 15px;
}

.addStatsButton:hover {
	color: #000000;
	background-color: #dadada;
}
